/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-expand-sm {
    background-color: cadetblue !important;
    box-shadow: black 5px 2px 1px;
}

.home-container{
    position:relative;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:flex-start;
    width:100%;
    max-width:1000px;
    height:auto;
}
.course {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 30%;
    background-color: white;
    box-shadow: black 0px 2px 7px;
    border-top: 7px solid aquamarine;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    cursor:pointer;
    transition:0.5s;
    margin-top: 30px;
}
.course:hover {
    box-shadow: black 0px 1px 3px;
}
.course .course-bg{
    position:relative;
    width:100%;
}
.course .date-category {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.course .date-category * {
    position: relative;
    font-size:18px;
    font-weight:bold;
    color: black;
}
.course .lecturer {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    color: aquamarine;
    text-align:center;
}
.course .button-default{
    position:relative;
    background-color:aquamarine;
    color:black;
}
    .course .button-info {
        position: relative;
        background-color:burlywood;
        color: black;
    }
    .course .status-default {
        position: relative;
        color:chartreuse;
    }

    .course .status-info {
        position: relative;
        color:darkmagenta;
    }
    .course .action {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }